<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HireHub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>webname</param-name>
  	<param-value>Hire Hub</param-value>
  </context-param>
  
  
  <!-- admin dashboard -->
  <servlet>
  	<servlet-name>Adashboard</servlet-name>
  	<servlet-class>com.hirehub.admin.AdminDashboardServlet</servlet-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Admin</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Adashboard</servlet-name>
  	<url-pattern>/AdminDashboard</url-pattern>
  </servlet-mapping>
  
  
  <!-- all job see here  -->
  <servlet>
  	<servlet-name>ViewJob</servlet-name>
  	<servlet-class>com.hirehub.admin.ViewJobsServlet</servlet-class>
  	<init-param>
  		<param-name>name</param-name>
  		<param-value>Manage Jobs</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewJob</servlet-name>
  	<url-pattern>/ViewJobsServlet</url-pattern>
  </servlet-mapping>
</web-app>